<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto p-1  border border-1 position-relative min-vh-100">
      <div class="py-5 d-flex bg-dark justify-content-center w-100 position-relative ">
        <i class="fa-solid fa-right-to-bracket position-absolute top-0 end-0 me-3 mt-3 fs-5 text-white cursor" routerLink="/contactList"></i>
        <div class=" ms-2 p-1 d-flex justify-content-center align-items-center rounded-circle" width="50" height="50">
          <img class="rounded-circle" [src]="specficContact[0].imageUrl == undefined ? 'https://img.freepik.com/free-icon/user_318-159711.jpg' : specficContact[0].imageUrl" alt="prodile pic" width="200" height="200">
        </div>
        <h5 class="text-white position-absolute bottom-0 fs-2 start-0 ps-3">{{specficContact[0].firstName +' '+ specficContact[0].lastName}}</h5>
      </div>
      <div class="p-5 d-flex align-items-center">
        <i class="fa-solid fa-envelope pe-3"></i>
        <p class="pt-2 email">{{specficContact[0].email}}</p>
      </div>
      <div class="px-5 d-flex align-items-center object-fit-cover" *ngIf="specficContact[0].tel?.length > 0 && specficContact[0].tel !== undefined">
        <i class="fa-solid fa-phone pe-3"></i>
        <p class="pt-2 email">{{specficContact[0].tel}}</p>
      </div>
    </div>
  </div>
</div>
